.callToAction {
  background-color: var(--color-primary-1);
  padding: 8rem 0rem;
  color: var(--color-text-2);

  &__container {
    margin: auto;
    width: 65%;
    display: flex;
    justify-content: space-between;
    gap: 10rem;

    @media screen and (max-width: 1200px) {
      width: 70%;
      gap: 5rem;
    }
    @media screen and (max-width: 950px) {
      width: 80%;
      gap: 2rem;
    }
    @media screen and (max-width: 650px) {
      width: 80%;
      gap: 4rem;
      flex-direction: column-reverse;
    }
  }

  &__title {
    color: var(--color-accent);
    font-family: var(--font-Markazi);
    font-size: 6.4rem;
    text-transform: capitalize;
    line-height: 0.7;
    font-weight: 500;

    @media screen and (max-width: 1200px) {
      font-size: 5.8rem;
    }
    @media screen and (max-width: 950px) {
      font-size: 5.2rem;
    }
  }
  &__subTitle {
    font-family: var(--font-Markazi);
    font-size: 3.2rem;
    text-transform: capitalize;
    font-weight: 400;
  }

  &__content {
    flex-basis: 50%;
  }
  &__text {
    font-size: 1.8rem;
    line-height: 1.4;
    margin-top: 2rem;
    font-weight: 400;
    margin-bottom: 3rem;

    @media screen and (max-width: 950px) {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }

  &__image {
    flex-basis: 50%;
    min-width: 40%;
    height: 30rem;
    position: relative;
    flex-shrink: 1;
    margin: auto;

    @media screen and (max-width: 650px) {
      min-height: 30rem;
      width: 100%;
    }

    img {
      height: 150%;
      min-width: 100%;
      max-height: 45rem;
      object-fit: cover;
      position: absolute;
      right: 0;
      border-radius: 0.6rem;

      @media screen and (max-width: 1200px) {
        width: 90%;
        height: 100%;
      }
      @media screen and (max-width: 950px) {
        min-width: 30rem;
      }
      @media screen and (max-width: 750px) {
        width: 100%;
        height: 100%;
      }
    }
  }
}
