.specials {
  padding: 10rem 0rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 5rem;
  width: 65%;
  margin: auto;

  @media screen and (max-width: 1200px) {
    width: 70%;
    gap: 5rem;
  }
  @media screen and (max-width: 950px) {
    width: 80%;
    gap: 2rem;
  }

  &__title {
    font-size: 4.8rem;
    font-family: var(--font-Markazi);
    margin-right: auto;
  }

  &__list {
    flex-grow: 1;
    flex-basis: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 3rem;

    @media screen and (max-width: 750px) {
      flex-direction: column;
    }
  }
}

.specials__item {
  flex-basis: 100%;
  border-radius: 1rem;
  background-color: var(--color-primary-3);
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 750px) {
    width: 80%;
    margin: auto;
  }

  &--image {
    width: 100%;
    overflow: hidden;
    min-height: 20rem;
    flex-basis: 80%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex-basis: 60%;
    gap: 1rem;

    @media screen and (max-width: 1200px) {
      padding: 2rem 1rem;
    }

    &-info {
      display: flex;
      justify-content: space-between;

      text-transform: capitalize;
      font-weight: 700;
      font-size: 1.8rem;
    }
  }

  &--price {
    color: #fa4f4f;
  }

  &--text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.6rem;
    line-height: 1.2;
  }

  &--btn {
    align-self: flex-start;
    border: none;
    display: flex;
    gap: 2rem;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: inherit;
    color: inherit;
    text-wrap: nowrap;
    // padding: 1rem 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
