.bookingconfirmation {
  min-height: 100vh;
  color: var(--color-primary-1);
  padding: 5rem 0;

  &__image {
    width: 50%;
    margin: auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    width: 45%;
    margin: 3rem auto 0;

    @media screen and (max-width: 750px) {
      width: 60%;
    }
  }

  &__title {
    font-size: 3.8rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-family: var(--font-Markazi);
    text-align: center;
  }

  &__text {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;

    &:last-child {
      font-size: 2rem;
      margin-top: 2rem;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
  }
  &__item {
    text-transform: capitalize;
    &:not(:last-child) {
      border-right: 1px solid;
      padding-right: 1rem;
    }
  }
  &__label {
    font-weight: 500;
  }

  &__highlight {
    font-weight: 500;
  }

  .redirect {
    text-align: center;
    margin-top: 2rem;
    text-transform: capitalize;
    a {
      text-decoration: none;
      color: inherit;
      font-family: inherit;
      border-bottom: 1px solid var(--color-accent);
    }
  }
}
