.booking-page {
  background-color: var(--color-white);
  min-height: 100vh;
  height: inherit;

  &__header {
    background-color: var(--color-tertiary-1);
    text-align: center;
    padding: 6rem;
  }

  &__title {
    font-size: 3.6rem;
    font-weight: 500;
    font-family: var(--font-Markazi);
    color: var(--color-text-1);
    line-height: 138.2%;
  }

  &__text {
    width: 40%;
    margin: auto;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 140.2%;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5rem;
    color: var(--color-primary-1);

    &--title {
      width: 100%;
      text-transform: capitalize;
      text-align: center;
      margin-bottom: 5rem;
      font-family: var(--font-Markazi);
      font-size: 3.2rem;
      font-weight: 500;
      color: var(--color-text-1);
    }
  }

  &__form-container {
    flex-grow: 1;
    padding: 4rem 2rem;
  }

  &__footer {
    background-color: var(--color-primary-2);
    display: flex;
    justify-content: space-between;
    padding: 8rem 25rem;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-image {
      width: 20rem;
      height: 5rem;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    &-text {
      width: 50%;
      line-height: 138.2%;
      margin-top: 1rem;
      color: var(--color-primary-1);
      font-weight: 400;
      font-size: 1.6rem;
    }
  }

  .opening-hours {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    color: var(--color-primary-1);

    &__title {
      font-size: 1.8rem;
      text-transform: capitalize;
      font-weight: 500;
    }

    &__list {
      list-style: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li {
        display: flex;
        gap: 0.5rem;
        span {
          &:first-child {
            text-transform: capitalize;
            font-weight: 500;
          }
        }
      }
    }
  }

  &__image {
    width: 50%;
    // height: 45rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.back__btn {
  background-color: transparent;
  border: none;
  outline: none;
  width: 4rem;
  position: absolute;
  left: 10%;
  top: 5%;

  img {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }

  p {
    font-size: 1.4rem;
    color: var(--color-primary-1);
    visibility: hidden;
    opacity: 0;
    transition: all 0.1s;
  }

  &:hover {
    p {
      visibility: visible;
      opacity: 1;
    }
  }
}
