.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3%;

  width: 65%;
  margin: auto;
  padding: 2rem 0;
  // position: relative;

  @media screen and (max-width: 1200px) {
    width: 70%;
  }
  @media screen and (max-width: 950px) {
    width: 80%;
  }
  @media screen and (max-width: 750px) {
    .nav__container {
      position: absolute;
      top: 8%;
      left: 0%;
      background-color: var(--color-white);
      width: 100vw;
      z-index: 1000;
      opacity: 0;
      visibility: hidden;
      transform: scale(0);
      transform-origin: right top;
      transition: all 0.1s;

      &--active {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
      }
    }

    nav {
      ul {
        width: 80%;
        flex-direction: column;
        padding: 0;
        align-items: center;
        margin: auto;
        gap: 0rem;
        color: var(--color-primary-1);

        li {
          &:not(:last-child) {
            border-bottom: 1px solid var(--border-color);
          }
          width: 100%;
          padding: 1.5rem 0;
          text-align: center;

          &:hover {
            background-color: var(--color-primary-1);
            color: var(--color-text-2);
            cursor: pointer;
          }
        }
      }
    }
  }

  &__logo {
    width: 100%;
    max-width: 20rem;
    height: auto;
    object-fit: contain;
  }

  &__nav {
    &--btn {
      border: none;
      background-color: transparent;
      width: 3rem;
      padding: 0;

      @media screen and (min-width: 750px) {
        display: none;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  svg {
    color: var(--color-primary-1);
  }
}
