.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 65%;
  margin: auto;
  padding: 2rem 0;

  @media screen and (max-width: 1200px) {
    width: 70%;
  }
  @media screen and (max-width: 950px) {
    width: 80%;
  }

  &__logo {
    width: 20%;
    // height: 4.8rem;
    object-fit: cover;
  }
}
