.nav {
  ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: var(--color-primary-1);

    @media screen and (min-width: 750px) {
      li {
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: all 0.1s;
      }

      li:hover {
        background-color: var(--color-primary-1);
        color: var(--color-text-2);
      }
    }

    @media screen and (max-width: 950px) {
      gap: 1rem;
    }
    @media screen and (max-width: 750px) {
      gap: 1.5rem;
    }

    a {
      text-decoration: none;
      text-transform: capitalize;
      color: inherit;
      font-family: inherit;
      font-weight: 600;
      text-wrap: nowrap;
      font-size: 1.6rem;
    }
  }
}
