.footer {
  padding: 10rem 0rem;
  background-color: var(--color-primary-3);
  color: var(--color-primary-1);

  &__container {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    margin: auto;

    @media screen and (max-width: 1200px) {
      width: 70%;
    }
    @media screen and (max-width: 950px) {
      width: 80%;
    }
    @media screen and (max-width: 750px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__logo {
    flex-basis: 25%;
    text-align: center;

    img {
      width: 100%;
    }
  }

  &__links {
    display: flex;
    flex-grow: 1;
    flex-basis: 75%;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (max-width: 750px) {
      flex-basis: 100%;
    }

    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      list-style: none;
      padding: 0;
      font-size: 1.6rem;
      gap: 1rem;
      a {
        text-decoration: none;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        font-weight: 400;
        text-transform: capitalize;
      }
    }

    h3 {
      font-size: 1.8rem;
      text-transform: capitalize;

      font-weight: 500;
      margin-bottom: 1.5rem;
    }
  }
}

.links {
  &__dormant {
  }
  &__contacts {
  }
  &__social-media {
  }
}
