.footer {
  padding: 10rem 0rem;
  background-color: var(--color-primary-3);
  color: var(--color-primary-1);

  &__container {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    margin: auto;

    @media screen and (max-width: 1200px) {
      width: 70%;
    }
    @media screen and (max-width: 950px) {
      width: 80%;
    }
    @media screen and (max-width: 750px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__logo-container {
    width: 100%;
    max-width: 20rem;
    height: 5rem;
  }

  &__logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__links {
    display: flex;
    flex-grow: 1;
    flex-basis: 75%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5rem;

    @media screen and (max-width: 750px) {
      flex-basis: 100%;
    }
    @media screen and (max-width: 550px) {
      flex-direction: column-reverse;
      gap: 4rem;
      flex-basis: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      list-style: none;
      padding: 0;
      font-size: 1.6rem;
      gap: 1rem;

      @media screen and (max-width: 550px) {
        width: 100%;
        flex-direction: row;
        text-align: center;
        justify-content: center;

        li {
          &:not(:last-child) {
            border-right: 1px solid var(--border-color);
            padding-right: 1rem;
          }
        }
      }
      a {
        text-decoration: none;
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        font-weight: 400;
        text-transform: capitalize;
      }
    }

    h3 {
      font-size: 1.8rem;
      text-transform: capitalize;

      font-weight: 500;
      margin-bottom: 1.5rem;
    }
  }
}
