*,
*::after,
*::before {
  margin: 0;
}

:root {
  --color-primary-1: #495e57; //hero
  --color-primary-2: #edefee; //special items
  --color-primary-3: #f0f0f0; //footer
  --color-primary-4: #fff; //footer

  --color-text-1: #333333; //on light bg
  --color-text-2: #edefee; //on dark bg
  --color-accent: #f4ce14;

  --color-tertiary-1: #fbdabb;

  --border-color: rgba(73, 95, 88, 50%);
  --color-input-field: rgba(240, 240, 240, 50%);

  --font-karla: "Karla", sans-serif; //body text
  --font-Markazi: "Markazi Text", serif; //headings
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-karla);
  font-size: 1.6rem;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--color-primary-4);
  color: var(--color-text-1);
}

.bookingPage {
  background-color: var(--color-primary-1);
  height: 100vh;
  padding: 10rem 0;
}
